.contact_banner{
    background-image: url('../../../images/contact_image.jpg')
    ,
      linear-gradient(rgba(22, 22, 22, 0.87), rgb(26, 24, 24));
    height: 80vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}


.contact-info{
  position: relative;
  bottom: 100%;
  color: white;
}

.button-style{
  background-color: aqua;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
}

.fas{
  color: aqua;
}