.header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.header .navbar{
    background: linear-gradient(90deg, #4C489D, #7E7BB9);
}
.navbar-collapse a,.nav-item a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    padding: 8px 10px;
}
.userName{
    color: #fff;
    margin-top: 11px;
    font-size: 12px;
}