.header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.header .navbar{
    background-color: #fff;
}
.header .navbar-light .navbar-nav .nav-link{
    text-decoration: none;
    color: #0B2B43;
    font-weight: 600;
    font-size: 15px;
    padding: 8px 10px;
}
.header .navbar-light .navbar-nav .nav-link:hover{
    color: aqua;
}
.userName{
    color: #0B2B43;
    margin-top: 11px;
    font-size: 12px;
}