.underlined-hr{
    width: 20%;
    border: 2px solid green;
}
.contact-blog-single-icon{
   

}
.contact-blog-single-icon i{
    font-size: 34px;
    color: white;
    background-color: #1dd1a1;
    padding: 30px 30px;
}
.contact-blog-single-icon-h1{
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
}
.contact-blog-single-icon-h4{
    font-size: 16px;
    text-align: left;
    margin-left: 10px;
}

.contact-blog-social-icon:hover{
    color: white;
    text-decoration: none;
    margin-right: 10px;
    
    width:25px;
    height: 25px;
    border-radius: 50%;
}