.ourProject{
    padding-top: 5rem;
}
.ourProject .titlePart{
    text-align: center;
    margin: auto;
}
.ourProject .card .layer{
    position:absolute;
    top:calc(100% - 0px);
    height:100%;
    width:100%;
    left:0;
    background: #0b2b43b7;
    transition:0.5s;
    z-index: 0;
}
.card .layer .content{
    color:#fff;
    padding: 2rem;
    position: absolute;
    bottom: 0px;
}
.ourProject .card:hover .layer{
    top:0;
}
.ourProject .titlePart .subTitle::before{
    content: '';
    position: absolute;
    height: 3px;
    margin-top: 30px;
    width: 85px;
    background-color: aqua;
}