@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.add-review-container{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    
  
}
.add-review-form{
    margin: 0 auto;
    width: 75%;
    background-color: #54a0ff;
    padding: 15px;
}
.add-review-form input ,textarea,select{
display: block;
font-size: 16px;

margin: 10px auto;
padding: 15px 25px;
background-color: #eee;
border-radius: 5px;
border:0px;
color:blue;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
outline: 0px;
transition: 0.6s;
font-family: 'Montserrat', sans-serif;
}
.add-review-form input:focus ,select:focus{
    padding: 15px 35px;
}
.add-review-form textarea:focus{
    padding: 15px 25px;
    font-size: 20px;
}




.btn-review {background-image: linear-gradient(to right, #1D2B64 0%, #F8CDDA  51%, #1D2B64  100%)}
.btn-review {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white !important;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-review:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

@media only screen and (max-width:420px){
    .add-review-container{
        width: 100%;
    }
    .add-review-form{
        
        width: 100%;
        
    }
    .add-review-form input:focus ,select:focus{
        padding: 20px 25px;
    }
    .add-review-form textarea:focus{
        padding: 20px 25px;
        font-size: 16px;
    }
}