.ourBlog{
    padding: 4rem 0;
}
.ourBlog .titlePart{
    text-align: center;
    margin: auto;
}
.ourBlog .titlePart .subTitle::before{
    content: '';
    position: absolute;
    height: 3px;
    margin-top: 30px;
    width: 67px;
    background-color: aqua;
}
.ourBlog{
    background-color: whitesmoke;
}